version: '3'
services:

  inner:
    container_name: inner
    env_file: .env
    image: nginxproxy/nginx-proxy:dev
    expose:
      - "80"
    restart: always
    environment:
      - DEFAULT_HOST=inner.bar.com
      - VIRTUAL_HOST=outer.bar.com
      - VIRTUAL_PATH=/studip/
      - VIRTUAL_DEST=/
    logging:
      driver: local #or "none" or "local"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro # allow to read running dockers
      #- ./nginx/test:/etc/nginx/conf.d # to see the config output
    networks:
      - topDomainProxy


  frontend:
    env_file: .env
    build: Frontend
    command: npm run deploy:web:local
    volumes:
      - ./Frontend/app:/usr/app/
      - ./Frontend/app/node_modules:/usr/app/node_modules
      - ./Frontend/app/web-build:/usr/app/web-build
    expose:
      - ${FRONTEND_PORT}
    environment:
      - BACKEND_URL=${DOMAIN_PRE}://${HOST}${DOMAIN_PATH}${BACKEND_PATH}
      - VIRTUAL_HOST=inner.bar.com
      - VIRTUAL_PATH=/app/
      - VIRTUAL_DEST=/
      - VIRTUAL_PORT=${FRONTEND_PORT}
    networks:
      - topDomainProxy

  backend:
    build: Backend
    env_file: .env
    command: npm run start
    volumes:
      - ./Backend/app:/usr/app/
      - ./Backend/app/node_modules:/usr/app/node_modules
    ports:
      - ${BACKEND_PORT}
    environment:
      - VIRTUAL_HOST=inner.bar.com
      - VIRTUAL_PATH=/api/
      - VIRTUAL_DEST=/
      - VIRTUAL_PORT=${BACKEND_PORT}
    networks:
      - topDomainProxy

networks:
  topDomainProxy:
    external: true